<h1 class="text-center mt-3">Cadastro de Produtos</h1>
<nav class="navbar navbar-expand-lg nav-dark bg-primary">
    <ul class="navbar-nav">
        <li class="nav-item">
            <a class="nav-link" routerLink="/formPasta">
                formPasta
            </a> 
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="/getPastas">
                getPastas
            </a> 
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="/getItens">
                getItens
            </a> 
        </li>
    </ul>
</nav>
<router-outlet></router-outlet>